%h2 #{@user.name}

= render 'shared/script_levels', { script: @script, user: @user, level: nil }

- @concept_progress.each_pair do |concept, counts|
  %h4= concept.name
  .progress-outer
    .progress-inner{ style: "width:#{(100 * counts[:current]/counts[:max]).to_i}%" }
  = counts
  %br/