- if current_user
  #welcome= t('welcome_back', name: current_user.name)

  - if current_user.students.length > 0
    - teacher = true

  #student{ style: "width: 100%; float: left; padding-left:20px; box-sizing: border-box"}
    #student_progress #{t('home.student_progress')}:
    = t('home.student_stats', trophy_count: current_user.trophy_count, trophy_max: Trophy::TROPHY_MAX)
    = link_to t('home.see_details'), root_url
    %br/

    #last 
      - script_level = current_user.next_untried_level(Script.twenty_hour_script)
      - if script_level
        #left_off #{t('home.student_left_off')} 
        #{data_t_suffix('script.name', Script.twenty_hour_script.name, script_level.level.game.name)} #{t('puzzle')} #{script_level.game_chapter}
        &nbsp;
        = form_tag(build_script_level_url(script_level), method: 'get', style: "display:inline;") do
          = submit_tag t('continue'), name: nil, class: 'btn btn-primary button-continue', id: 'continue_button'
      - else
        = raw t(current_user.show_prize_ui? ? 'home.student_finished_prize' : 'home.student_finished', prize_link: link_to(t('prize'), my_prizes_url), online_link: link_to(t('home.online'), 'http://code.org/learn/beyond'), local_school_link: link_to(t('home.local_school'), 'http://code.org/learn/local'))

  - if teacher
    #clearboth{ style: 'clear:both;' }
    #classroom #{t('home.classroom')}:
    #teacher{ style: 'width: 100%; float: left; padding-left:20px'}
      = t('home.teacher_student_count', count: current_user.students.length)
      = link_to t('teacher.students.manage'), manage_followers_url
      %br/
      = t('home.teacher_averages', trophy_average: ("%.1f" % current_user.average_student_trophies), trophy_max: Trophy::TROPHY_MAX)
      = link_to t('home.teacher_dashboard'), followers_url

  #clearboth{ style: 'clear:both;' }
