- provider = prize.prize_provider
= image_tag provider.image_name
%p
  %b= t('redeem_prizes.provider')
  = link_to(t('redeem_prizes.providers.' + provider.description_token), provider.url)
%p
  %b= t('redeem_prizes.code')
  = prize.code

