%div{ style: 'position:relative;height:150px;width:500px;overflow:hidden;' }
  = form_tag([level.try(:game), level]) do
    = hidden_field_tag(:_method, :get)
    = hidden_field_tag(:initial_code, xml)
    = submit_tag 'Go'

  %div{ style: 'position:absolute;top:0;left:50px' }
    %pre= format_xml(xml)
