- script = @script || Script.twenty_hour_script
- script_levels = user ? user.levels_from_script(Script.twenty_hour_script) : script.script_levels
- concept_progress = user ? user.concept_progress : nil

-if (!defined? trophies_on_right) || !trophies_on_right
  =render partial: 'shared/concept_trophy_block', locals: { concept_progress: concept_progress, user: user, added_style: 'padding-right:10px;' }

%div{style:"display:inline-block;width:300px;position:relative;overflow:hidden;float:left;"}
  %h4 #{t('nav.popup.puzzle_map')}

  - current_game = 0
  - script_levels.each do |sl|
    - if (sl.level.game_id != current_game)
      - if current_game != 0
        .stage_separator
      - current_game = sl.level.game_id
      %div
        #{t(:stage)} #{current_game}
        #{data_t('game.name', sl.level.game.name)}
    - current_game_chapter = sl.game_chapter

    - link = build_script_level_path(sl)

    - if level_passed({user: user, user_level: sl.user_level, level_id: sl.level_id})
      %a{ href: link, class: "level_link level_link_done"}
        = check_mark_html
    - else
      %a{ href: link, class: "level_link"}
        #{current_game_chapter}

-if (defined? trophies_on_right) && trophies_on_right
  =render partial: 'shared/concept_trophy_block', locals: { concept_progress: concept_progress, user: user, added_style: 'padding-left:30px;' }
