%div{ style: "width: 100%; background: #b9bf15; color: white; padding: 30px"}
  %b BETA - EARLY PREVIEW OF THE HOUR OF CODE
  %br/
  %br/
  Final tutorials will arrive on December 9
- if current_user
  .row
    .span12
      %h1= t('welcome_back', name: current_user.name)
      %hr

      - if current_user.students.length > 0
        %h4 #{t('home.classroom')}:

        %p
          = link_to t('home.teacher_student_count', count: current_user.students.length), manage_followers_path
          = t('home.teacher_averages', trophy_average: ("%.1f" % current_user.average_student_trophies), trophy_max: Trophy::TROPHY_MAX)

        = link_to t('home.teacher_dashboard'), followers_path
        %hr

      %h4 #{t('home.student_progress')}:
      = t('home.student_stats', trophy_count: current_user.trophy_count, trophy_max: Trophy::TROPHY_MAX)
      %br/

      - if current_user.teachers.length > 1
        = t('teacher.title.other')
        = current_user.teachers.map(&:name).join(', ')
      - elsif current_user.teachers.length == 1
        = t('teacher.title.one', name: current_user.teachers.first.name)
      - else
        %h4= t('add_teacher_form.code_or_email.label')
        = form_for([Follower.new]) do |f|
          .field
            = text_field_tag :teacher_email_or_code, nil, class: 'input-xxlarge', placeholder: t('add_teacher_form.code_or_email.placeholder')
            = hidden_field_tag :redirect, root_path
          .actions
            = f.submit t('add_teacher_form.submit')
      %br/

      %div{ style: 'padding-top: 10px; padding-bottom: 30px;'}
        - script_level = current_user.next_untried_level(Script.twenty_hour_script)
        - if script_level
          #{t('home.student_left_off')} #{t('stage')} #{script_level.level.game_id} #{t('puzzle')} #{script_level.game_chapter}
          = form_tag(build_script_level_path(script_level), method: 'get', style: "display:inline;") do
            = submit_tag t('continue'), name: nil, class: 'btn btn-primary'
        - else
          = raw t('home.student_finished', prize_link: link_to(t('prize'), 'http://code.org/prize'), online_link: link_to(t('home.online'), 'http://code.org/learn2'), local_school_link: link_to(t('home.local_school'), 'http://aws.code.org/search'))
- else
  %h1= link_to t('try_hoc'), hoc_reset_path()
  = link_to t('already_started'), hoc_chapter_path(ScriptLevel::NEXT)
  %br/
  %br/

  %hr
  
  %h4= link_to t('try_k8intro'), k8intro_chapter_path(ScriptLevel::NEXT)

  #{ link_to t('home.student_reg_link'), new_user_registration_path}
  %br/
  #{ link_to t('home.teacher_reg_link'), new_user_registration_path('user[user_type]' => User::TYPE_TEACHER)}
  %br/
  = raw t('home.signin_message', link: link_to(t('nav.user.signin'), new_user_session_path))
  %br/
  %br/

.row
  .span12
    = render partial: 'shared/user_stats', locals: { user: current_user, trophies_on_right: true }

  
- if current_user && current_user.admin?
  %h3= t(:demos)
  %ul
    - Script.all.each do |script|
      %li= link_to(data_t('script.name', script.name), script_level_path(script, ScriptLevel::NEXT))
