- if current_user
  .row
    .span6
      %h3= t(:courses)
      - Script.all.each do |script|
        -if (!script.hidden? || current_user.admin?)
          %h4= link_to data_t('script.name', script.name), script_level_path(script, ScriptLevel::NEXT)

      - if current_user.students.length > 0
        %h3 Students
        - current_user.students.each do |student|
          = link_to student.name, user_stats_path(student)
          %br/

      - if current_user.admin?
        %h3 Admin
        = link_to "Games", games_path
        %br/
        = link_to "Concepts", concepts_path
        %br/
        = link_to "Videos", videos_path
        %br/
        = link_to "Recent Activity", all_usage_path

    .span6
      - if current_user.teachers.length > 1
        %h4= t('teacher.title.other')
        %ul
        - current_user.teachers.each do |teacher|
          %li= teacher.name
      - elsif current_user.teachers.length == 1
        %h4= t('teacher.title.one', name: current_user.teachers.first.name)
      - else
        %h4= t('add_teacher_form.code_or_email.label')
        = form_for([Follower.new]) do |f|
          .field
            = text_field_tag :teacher_email_or_code, nil, class: 'input-xxlarge', placeholder: t('add_teacher_form.code_or_email.placeholder')
            = hidden_field_tag :redirect, root_path
          .actions
            = f.submit t('add_teacher_form.submit')

      - if current_user.students.length > 0
        %h4= t('teacher.tools')
        = link_to t('teacher.students.manage'), manage_followers_path
        %br/
        = link_to t('teacher.students.add'), new_follower_path
        %br/
        = link_to t('teacher.rollup'), followers_path
        %br/
        = link_to t('teacher.activity'), student_usage_path


- else
  #{ link_to t('nav.user.signup'), new_user_registration_path}, #{ link_to t('nav.user.signin'), new_user_session_path}, or try out our demos:
  = raw Script.where(hidden: false).map { |script| link_to(script.name, script_level_path(script, ScriptLevel::NEXT)) }.join(", ")
