- if current_user
  %p
    -#= link_to 'Browse games', games_path
  %h3 Courses
  - Script.all.each do |script|
    %h4= link_to script.name, script_level_path(script, ScriptLevel::NEXT)

  %div{ style:"position:absolute;right:10px;bottom:10px;"}
    - if current_user.teachers.length > 0
      %h3 Teacher
      - current_user.teachers.each do |teacher|
        = teacher.name
        %br/
      %br/
    Add a teacher by email address:
    = form_for([Follower.new]) do |f|
      .field
        = email_field_tag :teacher_email
      .actions
        = f.submit 'Add teacher'
    %br/
    = link_to "Student report", followers_path
    %br/
    = link_to "Manage students", manage_followers_path

  - if current_user.students.length > 0
    %h3 Students
    - current_user.students.each do |student|
      = link_to student.name, user_stats_path(student)
      %br/

  - if current_user.admin?
    %h3 Admin
    = link_to "Games", games_path
    %br/
    = link_to "Concepts", concepts_path
    %br/
    = link_to "Videos", videos_path
    %br/
    = link_to "Recent Activity", all_usage_path

- else
  = link_to "Sign up", new_user_registration_path
  ,
  = link_to "sign in", new_user_session_path
  , or try out our demos:
  - Script.all.map do |script|
    - script_level = script.script_levels.first
    = link_to(script.name, build_script_level_path(script_level))
