%p#notice= notice
%p
  %strong Name:
  = @game.name

  %h1 Levels
  %table
    %thead
      %tr
        %th Name
        %th
        %th
        %th
        %th
    %tbody
      - @game.levels.each do |level|
        %tr
          %td= link_to level.name, level.level_url
          %td= link_to 'Show', [@game, level]
          %td= link_to 'Edit', edit_game_level_path(@game, level)
          %td= link_to 'Destroy', [@game, level], method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Level', new_game_level_path(@game)

  - if can? :update, @game
    = link_to 'Edit', edit_game_path(@game)
|
\#{link_to 'Back', games_path}
