- @page_title = "#{current_user.name} Class Report"

= render partial: 'shared/teacher_nav', locals: { current: 'report' }

%h1= @page_title

%br/

%table
  %tr
    %th Name
    %th Email
    %th Levels finished
    %th Last attempt
  - @students.each do |student|
    %tr
      %td= link_to student.name || student.username, user_stats_path(student)
      %td= student.email
      %td= student.levels_finished
      %td= student.last_attempt_time ? ago(student.last_attempt_time) : '(not yet started)'

