- @page_title = "#{current_user.name} Rollup Report"
- row_count = (@section_map.size * 3) + @section_map.map(&:length).sum
- stage_map = @all_script_levels.group_by { |sl| sl.level.game }
- hours = (params[:hours] || 1).to_i
- add_section_ui = !current_user.sections.blank?

= render partial: 'shared/teacher_nav', locals: { current: 'report' }

%h1= @page_title

%br/

= form_tag(nil, method: 'GET') do
  %div{ style: "vertical-align: middle;display:table-cell; " }
    Mark actions (#{bullet_html}) worked on in the past:
    = select_tag('hours', options_for_select([["1 hour", 1], ["day", 24], ["week", 24 * 7]], selected: params[:hours] || 1), {onchange:"this.form.submit();", style: "width: 100px; margin:0px;" })
    - if add_section_ui
      Section:
      = select_tag('section_id', options_from_collection_for_select(current_user.sections.unshift(Section.new(name: 'All')), :id, :name, params[:section_id]), {onchange:"this.form.submit();", style: "width: 140px; margin:0px;"  })
    Game:
    = select_tag('game_id', options_for_select(@all_games.unshift(Game.new(name: 'all')).map {|g| [t(g.name), g.id]}, params[:game_id]), {onchange:"this.form.submit();", style: "width: 140px; margin:0px;"  })

%hr{ style: "border-color: #0094ca; border-bottom: none;"}/

%table{ border: 0 }
  %tr
    %td{ style: "vertical-align: middle; font-weight: 500; padding-right: 10px;" } Levels key
    %td
      .report_key.level_aced &nbsp;
    %td.report_key_cell
      Completed with the optimal number of blocks
    %td
      .report_key.level_done &nbsp;
    %td.report_key_cell
      Completed, but not with the optimal number of blocks
  %tr
    %td
    %td
      .report_key.level_undone &nbsp;
    %td.report_key_cell
      Level tried, but not completed
    %td
      .report_key.level_untried &nbsp;
    %td.report_key_cell
      Level not tried  yet
  %tr
    %td
    %td{ style: "text-align: center;" }= bullet_html
    %td{ colspan: 3 } indicates the student has worked on this in the last #{hours} #{'hour'.pluralize(hours)}

%br/

%table
  %tr
    %td{ style: "padding: 0px;" }
      %table{ style: "width:250px; table-layout:fixed;"}
        - @section_map.each_pair do |section, students|
          %tr.report_row
            %th{ style: "white-space: nowrap; overflow: hidden; text-overflow:ellipsis;padding-left: 5px;"}= section.try(:name) || "No assigned section"
          - students.each do |student|
            %tr.report_row
              %td{ style: "white-space: nowrap; overflow: hidden; text-overflow:ellipsis;padding-left: 5px;"}= link_to "#{student.name} (#{student.username})", user_stats_path(student)

          - if section
            %tr.report_row
              %td{ style: "padding-left: 5px;"}
                #{section.name} code:
                %b= section.code
          %tr.report_row
    %td{ style: "padding: 0px;" }
      %div{ style:"overflow-x:scroll; width: 800px; margin:0px; padding: 0px;" }
        %table{ border: "1px", style:"width:#{(@all_concepts.length + @all_script_levels.length) * 25}px;table-layout:fixed;"}
          - @all_concepts.each do
            %col{ width: '25px'}
          - @all_script_levels.each do
            %col{ width: '25px'}
          - @section_map.each_pair do |section, students|
            %tr.report_row
              %th{ colspan: @all_concepts.length } Trophies
              - stage_map.each_pair do |game, levels|
                %th{ colspan: levels.length }= game.name
            - students.each do |student|
              - trophy_map = student.user_trophies.index_by {|ut| ut.concept_id }
              - level_map = student.user_levels.index_by {|ul| ul.level_id }
              %tr.report_row
                - @all_concepts.each do |concept|
                  - ut = trophy_map[concept.id]
                  %td{ class: "report_cell #{"trophy_#{ut.trophy.name.downcase}" if ut}", title: "#{student.name} has won #{ut.try(:trophy) ? "the #{ut.trophy.name}" : 'no'} trophy in the '#{concept.name}' concept" }
                    - if ut && (ut.updated_at > hours.hours.ago)
                      = bullet_html

                - @all_script_levels.each do |sl|
                  - ul = level_map[sl.level_id]
                  %td{ class: "report_cell #{level_box_class(ul.try(:best_result))}", title: build_user_level_message(student, ul, sl) }
                    - if ul
                      - if (ul.updated_at > hours.hours.ago)
                        = bullet_html
                      - elsif ul.best?
                        = check_mark_html
            - if section
              %tr.report_row
            %tr.report_row
