- @page_title = "#{current_user.name} Class Report"
- row_count = (@section_map.size * 3) + @section_map.map(&:length).sum
- stage_map = @all_script_levels.group_by { |sl| sl.level.game }
- hours = (params[:hours] || 1).to_i
- add_section_ui = !current_user.sections.blank?

= render partial: 'shared/teacher_nav', locals: { current: 'report' }

%h1= @page_title

%br/

= form_tag(nil, method: 'GET') do
  Mark actions (&bull;) worked on in the past:
  = select_tag('hours', options_for_select([["1 hour", 1], ["day", 24], ["week", 24 * 7]], selected: params[:hours] || 1), {onchange:"this.form.submit();" })
  - if add_section_ui
    %br/
    Section:
    = select_tag('section_id', options_from_collection_for_select(current_user.sections.unshift(Section.new(name: 'all')), :id, :name, params[:section_id]), {onchange:"this.form.submit();" })
  Game:
  = select_tag('game_id', options_from_collection_for_select(@all_games.unshift(Game.new(name: 'all')), :id, :name, params[:game_id]), {onchange:"this.form.submit();" })

%table
  %tr
    %td{ style: "padding: 0px;" }
      %table{ border: "1px", style: "width:200px; table-layout:fixed;"}
        %col{ width: '200px'}
        - @section_map.each_pair do |section, students|
          %tr.report_row
            %th= section.try(:name) || "No assigned section"
          - students.each do |student|
            %tr.report_row
              %td{ style: "white-space: nowrap; overflow: hidden; text-overflow:ellipsis; width:200px;"}= link_to "#{student.name} (#{student.username})", user_stats_path(student)

          - if section
            %tr.report_row
              %td
                #{section.name} code:
                %b= section.code
          %tr.report_row
    %td{ style: "padding: 0px;" }
      %div{ style:"overflow-x:scroll; width: 800px; margin:0px; padding: 0px;" }
        %table{ border: "1px", style:"width:#{(@all_concepts.length + @all_script_levels.length) * 25}px;table-layout:fixed;"}
          - @all_concepts.each do
            %col{ width: '25px'}
          - @all_script_levels.each do
            %col{ width: '25px'}
          - @section_map.each_pair do |section, students|
            %tr.report_row
              %th{ colspan: @all_concepts.length } Trophies
              - stage_map.each_pair do |game, levels|
                %th{ colspan: levels.length }= game.name
            - students.each do |student|
              - trophy_map = student.user_trophies.index_by {|ut| ut.concept_id }
              - level_map = student.user_levels.index_by {|ul| ul.level_id }
              %tr.report_row
                - @all_concepts.each do |concept|
                  - ut = trophy_map[concept.id]
                  %td{ class: "report_cell #{"trophy_#{ut.trophy.name.downcase}" if ut}", title: "#{student.name} has won #{ut.try(:trophy) ? "the #{ut.trophy.name}" : 'no'} trophy in the '#{concept.name}' concept" }
                    - if ut && (ut.updated_at > hours.hours.ago)
                      &bull;

                - @all_script_levels.each do |sl|
                  - ul = level_map[sl.level_id]
                  %td{ class: "report_cell #{level_box_class(ul.try(:best_result))}", title: build_user_level_message(student, ul, sl) }
                    - if ul && (ul.updated_at > hours.hours.ago)
                      &bull;

            - if section
              %tr.report_row
            %tr.report_row

&bull; indicates the student has worked on this in the last #{hours} #{'hour'.pluralize(hours)}