- @page_title = "#{current_user.name} Class Report"

%h1= @page_title

= link_to "Recent class activity", student_usage_path

%br/

%table
  %tr
    %th Name
    %th Email
    %th Levels finished
    %th Last attempt
  - @students.each do |student|
    %tr
      %td= link_to student.name || student.username, user_stats_path(student)
      %td= student.email
      %td= student.levels_finished
      %td= student.last_attempt ? ago(student.last_attempt) : '(not yet started)'

= link_to 'Add student', new_follower_path
