- @page_title = "Manage students"
- add_section_ui = !current_user.sections.blank?

= render partial: 'shared/teacher_nav', locals: { current: 'manage' }

%h1= @page_title

%br/

= form_tag(add_to_section_path) do
  - if add_section_ui
    Add checked students to section:
    = select_tag('section_id', options_from_collection_for_select(current_user.sections, :id, :name))
    = submit_tag 'Go'

  %fieldset
    %table
      %tr
        %th= add_section_ui ? check_box_tag(nil, nil, false, class: :checkall) : ''
        %th Name
        %th Email
        %th Section

      - @followers.each do |followed|
        %tr
          %td= add_section_ui ? check_box_tag('follower_ids[]', followed.id) : ''
          %td= link_to followed.student_user.name || followed.student_user.username, user_stats_path(followed.student_user)
          %td= followed.student_user.email
          %td= followed.section.try(:name)

%br/
= link_to 'Add student', new_follower_path
%br/
= link_to 'Add section', new_section_path

:javascript
  $(function () {
      $('.checkall').on('click', function () {
          $(this).closest('fieldset').find(':checkbox').prop('checked', this.checked);
      });
  });