- @page_title = "Manage students"
- add_section_ui = !current_user.sections.blank?

= render partial: 'shared/teacher_nav', locals: { current: 'manage' }

%h1= @page_title

%br/

= form_tag(add_to_section_path) do
  - if add_section_ui
    %p
      Assign checked students to section:
      - options_select = options_from_collection_for_select(current_user.sections, :id, :name)
      - options_select += '<option value="NULL">(None)</option'.html_safe
      = select_tag('section_id', options_select, style: 'margin: 0')
      = submit_tag 'Go'

  %fieldset
    %table{ style: "width:750px; table-layout:fixed;"}
      %colgroup
        %col{ width: 50 }
        %col{ width: 250 }
        %col{ width: 100 }
        %col{ width: 375 }

      %tr
        %th= add_section_ui ? check_box_tag(nil, nil, false, class: :checkall) : ''
        %th Name
        %th Password
        %th Section

      - @followers.each do |followed|
        %tr
          %td= add_section_ui ? check_box_tag('follower_ids[]', followed.id) : ''
          %td.fixed_width_cell= link_to followed.student_user.name || followed.student_user.username, user_stats_path(followed.student_user)
          %td= followed.student_user.email.blank? ? link_to("Edit", student_edit_password_path(followed.student_user)) : ''
          %td
            = followed.section.try(:name)
            = link_to("(remove)", remove_from_section_path(follower_id: followed.student_user_id, section_id: followed.section_id), method: :post) if followed.section.present?

%br/
= link_to 'Add student', new_follower_path
%br/
= link_to 'Add section', new_section_path

:javascript
  $(function () {
      $('.checkall').on('click', function () {
          $(this).closest('fieldset').find(':checkbox').prop('checked', this.checked);
      });
  });