:javascript
  $(function() {
    $( "#user_birthday" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "-120:+0",
    });
  });

- if !@section
  Url didn't include a valid code, please enter the code shared with you by your teacher. It's a 6-character code made up of letters and numbers
  %br/
  = form_tag(student_user_new_path, method: 'GET') do
    = text_field_tag(:section_code, params[:section_code], placeholder: "6-character code (ABCDEF)")
    %br/
    = submit_tag 'Go', class: 'btn btn-primary'
- elsif current_user
  You are currently signed in as #{current_user.username}. #{link_to "Return home", root_path} or #{link_to("log out", destroy_user_session_path)} to proceed.
- else
  %h2 Register to join the class #{@section.name} taught by #{@section.user.name}
  - if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = form_for(@user, url: { action: :student_register }) do |f|

    = f.text_field(:name, placeholder: "Full name (John Smith)")
    %br/
    = f.text_field(:username, placeholder: "Username")
    %br/
    = f.password_field(:password, placeholder: "Password")
    %br/
    = f.select(:gender, options_for_select([["Gender (optional)", '', {disabled: true, selected: true}], ['Male', 'm'], ['Female', 'f']], :selected => @user.gender))
    %br/
    = f.text_field(:birthday, id: "user_birthday", placeholder: "Birthday (optional)")

    %br/
    = submit_tag 'Register', class: 'btn btn-primary'

