-# Common scripts and styles
- blockly_path = "/blockly/dist/"
= stylesheet_link_tag blockly_path + "common.css"
= stylesheet_link_tag blockly_path + "#{app}/style.css"

= javascript_include_tag blockly_path + "_soy/soyutils.js"
= javascript_include_tag blockly_path + "#{app}/generated/en_us.js"

= javascript_include_tag blockly_path + "blockly_compressed.js"
= javascript_include_tag blockly_path + "blocks_compressed.js"
= javascript_include_tag blockly_path + "javascript_compressed.js"
= javascript_include_tag blockly_path + "en.js"

= javascript_include_tag blockly_path + "#{app}/#{app}.js"
:javascript
  var nextRedirect;
  var sendReport = function(report) {
    var httpRequest = new XMLHttpRequest();
    httpRequest.onload = function() {
      var response = JSON.parse(httpRequest.responseText);
      nextRedirect = response['redirect'];
    };
    httpRequest.open('POST', '#{@callback}');
    httpRequest.setRequestHeader('Content-Type',
        'application/x-www-form-urlencoded');
    var query = [];
    for (var key in report) {
      query.push(key + '=' + report[key]);
    }
    query = query.join('&');
    httpRequest.send(query);
  };
  #{app}Main({
    onAttempt: function(report) {
      sendReport(report);
    },
    onContinue: function() {
      if (nextRedirect) {
        window.location.href = nextRedirect;
      }
    },
    level: {
      instructions: '#{escape_javascript @level.instructions}'
    }
  });
