-# Common scripts and styles
- blockly_path = "blockly/"
= stylesheet_link_tag "/#{blockly_path}css/common.css"
= stylesheet_link_tag "/#{blockly_path}css/#{app}.css"

= javascript_include_tag "/#{blockly_path}js/vendor.js"
= javascript_include_tag "/#{blockly_path}js/#{app}.js"

:javascript
  var nextRedirect;
  var sendReport = function(report) {
    var httpRequest = new XMLHttpRequest();
    httpRequest.onload = function() {
      var response = JSON.parse(httpRequest.responseText);
      nextRedirect = response['redirect'];
    };
    httpRequest.open('POST', '#{@callback}');
    httpRequest.setRequestHeader('Content-Type',
        'application/x-www-form-urlencoded');
    var query = [];
    for (var key in report) {
      query.push(key + '=' + report[key]);
    }
    query = query.join('&');
    httpRequest.send(query);
  };
  #{app}Main({
    containerId: 'blocklyApp',
    baseUrl: '#{root_url}#{blockly_path}',
    onAttempt: function(report) {
      sendReport(report);
    },
    onContinue: function() {
      if (nextRedirect) {
        window.location.href = nextRedirect;
      }
    },
    levelId: '#{@level.level_num}',
    level: {
      instructions: '#{escape_javascript @level.instructions}'
    },
    skinId: '#{@level.skin}'
  });

#blocklyApp
