-# Common scripts and styles
= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.0/jquery.qtip.min.css"
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.0/jquery.qtip.min.js"

- blockly_path = "blockly/"
= stylesheet_link_tag "/#{blockly_path}css/common.css"
= stylesheet_link_tag "/#{blockly_path}css/#{app}.css"

= javascript_include_tag "/#{blockly_path}js/vendor.js"
= javascript_include_tag "/#{blockly_path}js/#{app}.js"

:javascript
  var CALLOUTS = #{@callouts.to_json}
  var nextRedirect;
  var sendReport = function(report) {
    var httpRequest = new XMLHttpRequest();
    httpRequest.onload = function() {
      var response = JSON.parse(httpRequest.responseText);
      nextRedirect = response['redirect'];
    };
    httpRequest.open('POST', '#{@callback}');
    httpRequest.setRequestHeader('Content-Type',
        'application/x-www-form-urlencoded');
    var query = [];
    for (var key in report) {
      query.push(key + '=' + report[key]);
    }
    query = query.join('&');
    httpRequest.send(query);
  };
  var callout = function() {
    var sessionPrefix = "callout_";

    for (var index in CALLOUTS) {
      var callout = CALLOUTS[index];
      var selector = callout.element_id;  // jquery selector.
      if (!(sessionPrefix + selector in sessionStorage)) {  // show only once.
        var calloutDomElement = $(selector).qtip({
          content: {
            text: callout.text
          }
        });
        calloutDomElement.qtip('show');
        if (calloutDomElement.length > 0) {  // Only store if callout was shown.
          sessionStorage.setItem(sessionPrefix + selector, true);
        }
      }
    }
  };
  #{app}Main({
    containerId: 'blocklyApp',
    baseUrl: '#{root_url}#{blockly_path}',
    onAttempt: function(report) {
      sendReport(report);
    },
    onContinue: function() {
      if (nextRedirect) {
        window.location.href = nextRedirect;
      }
    },
    levelId: '#{@level.level_num}',
    onInitialize: function() {
      callout();
    },
    level: {
      instructions: '#{escape_javascript @level.instructions}',
      #{start_blocks(current_user, @level)}
    },
    skinId: '#{@level.skin}'
  });

#blocklyApp
