= form_for([@game, @level]) do |f|
  - if @level.errors.any?
    #error_explanation
      %h2
        = pluralize(@level.errors.count, "error")
        prohibited this level from being saved:
      %ul
        - @level.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :level_url
    %br/
    = f.text_field :level_url
  .field
    = f.label 'concepts'
    %br/
    -#= f.select 'concepts', Concept.all.map{|i| [i.name, i.id]}.unshift(['-- select concept --', nil])
    -#= select_tag 'level[concepts[]]', options_from_collection_for_select(Concept.all, "id", "name")
    -#= select_tag 'game[concept]', Concept.all.map{|i| [i.name, i.id]}.unshift(['-- select concept --', nil])
    = f.collection_select 'concepts', Concept.all, :id, :name, {:name => 'level[concepts][]'}
    = f.collection_select 'concepts', Concept.all, :id, :name, {:name => 'level[concepts][]'}
  .actions
    = f.submit
