.unplugged
  %h2 #{data_t('unplugged', @game.name)[:title]}

  %p #{data_t('unplugged', @game.name)[:desc]}

  .buttons

    %a.level_link.next_level
      = t('next_level')

    - pdfs = data_t('unplugged', @game.name)[:pdfs]
    - if pdfs
      - pdfs.each_with_index do |pdf, i|
        %a.level_link.pdf_button{href: asset_url('/unplugged/' + pdf + '.pdf'),
                                 target: '_blank'}
          = t('download_pdf', :pdf => i + 1)
    - else
      %p Downloadable activity coming soon.

  - video = data_t('unplugged', @game.name)[:video]
  - if video
    %iframe{src: youtube_url(video), scrolling: 'no'}
  - else
    %p Video Coming Soon!

:javascript
  var clickedNext = false;
  $('a.next_level').click(function() {
    if (!clickedNext) {
      clickedNext = true;
      sendReport({
        fallbackResponse: '#{@fallback_response.to_json}',
        callback: '#{@callback}',
        app: 'unplug',
        level: '#{@level.level_num}',
        result: true,
        testResult: 100,
        onComplete: function() {
          if (nextRedirect) { window.location.href = nextRedirect; }
        }
      });
    }
  });
