-#= render 'shared/script_levels', { script: @script, user: current_user, level: @script_level }

= render partial: "levels/blockly", locals: { app: @game.app }

- if @videos && !@videos.empty?
  %h4.help_text Need help?
  %h5 Checkout these videos and hints.
  - $column = -1;
  - @videos.each do |video|
    - $column = ($column + 1) % 2;
    - if mobile?
      = link_to video.name, build_youtube_link(video.youtube_code)
    - else
      = link_to image_tag("#", :id => "thumbnail_" + video.youtube_code, :width => 39*4.7, :height => 50*4.7), "#", onclick: "initialize_video_popup('#{video.youtube_code}', '#{video.name}'); return false;"
      = create_thumbnail(video.youtube_code, video.name)
      -#%p #{video.name}
    - if $column == 1
      %br/
      %br/
    - else
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
- if can? :edit, @level
  %br/
  #{link_to 'edit', edit_game_level_path(@game, @level)} / #{ link_to 'stats', level_stats_path(@level) }

.modal.fade#video_player{ style: 'display:none;'}
  .modal-header
    %a.close{'data-dismiss' => "modal"} &#X2297;
    %h3#video_title Modal Header
  .modal-body
    %iframe#video_iframe{ name: 'testname', width: "100%", height: '500px', frameborder: 1, scrolling: 'no', marginwidth: 0, marginheight: 0}
  -#.modal-footer
  -#  %a.close{'data-dismiss' => "modal"} Close


- if @autoplay_video && !mobile?
  :javascript
    initialize_video_popup('#{@autoplay_video.youtube_code}', '#{@autoplay_video.name}');

:javascript
  $('#video_player').on('hidden', function () {
    $('#video_iframe')[0].src = null;
  });
