- @page_title = "#{data_t('game.name', @game.name)} ##{@script_level.try(:game_chapter) || @level.level_num} "

#notes-content{:style => 'display: none;'}
  %ul
    %li
      %a{:href => '#video'}
        = I18n.t('video.tab')
        %span.video-name
    %li
      %a{:href => '#notes-outer'}= I18n.t('video.notes')

- if @game.app == 'unplug'
  = render partial: "levels/unplug", locals: { app: @game.app }
- else
  = render partial: "levels/blockly", locals: { start_blocks: @start_blocks, app: @game.app }

- if Rails.env.production? && request.path == hoc_chapter_path(chapter: 1)
  -# special tracking image to make sure a cookie is set when hoc starts (/hoc/1)
  = image_tag('http://code.org/api/hour/begin_codeorg.png')
