- @page_title = "#{data_t('game.name', @game.name)} ##{@script_level.try(:game_chapter) || @level.level_num} "

#notes-content{:style => 'display: none;'}
  %ul
    %li
      %a{:href => '#video'}
        = I18n.t('video.tab')
        %span.video-name
    %li
      %a{:href => '#notes'}= I18n.t('video.notes')

- if @game.app == 'unplug'
  = render partial: "levels/unplug", locals: { app: @game.app }
- else
  = render partial: "levels/blockly", locals: { app: @game.app }

- if @autoplay_video
  :javascript
    showVideo({
      src: #{youtube_url(@autoplay_video.youtube_code).to_json},
      key: '#{@autoplay_video.key}',
      name: '#{data_t('video.name', @autoplay_video.key)}'
    });
