- @page_title = "#{data_t('game.name', @game.name)} ##{@script_level.try(:game_chapter) || @level.level_num} "

= render partial: "levels/blockly", locals: { app: @game.app }

.reference_area
  - if @videos && !@videos.empty?
    %h5
      %span.help_text= t('reference_area.title')
      %span= t('reference_area.subtitle')
    = render partial: 'levels/video', collection: @videos
    %div{ style: "clear: both;"}

  - if can? :edit, @level
    %br/
    #{link_to 'edit', edit_game_level_path(@game, @level)} / #{ link_to 'stats', level_stats_path(@level) }

- if @autoplay_video
  :javascript
    showVideo('#{@autoplay_video.youtube_code}', '#{data_t('video.name', @autoplay_video.key)}' + '  [Current videos are placeholders.]');
