-#= render 'shared/script_levels', { script: @script, user: current_user, level: @script_level }

- if @game.video? && @script_level
  %div{ style: "text-align:right; font-size: 120%;"}
    = link_to "Next level >>", build_script_level_path(@script_level.next_level)
  %iframe{ name: 'testname', src: @level.level_url, width: "100%", height: 700, frameborder: 1, scrolling: 'no', marginwidth: 0, marginheight: 0}

- if not @game.video?
  - app = @game.app
  = render partial: "levels/blockly", locals: { app: app }

- if @videos && !@videos.empty?
  %h4 Related help videos
  - @videos.each do |video|
    - if mobile?
      = link_to video.name, " https://www.youtube.com/watch?v=#{video.youtube_code}"
    - else
      = link_to video.name, "#", onclick: "initialize_video_popup('#{video.youtube_code}', '#{video.name}'); return false;"
    %br/
- if can? :edit, @level
  %br/
  #{link_to 'edit', edit_game_level_path(@game, @level)} / #{ link_to 'stats', level_stats_path(@level) }

.modal.fade#video_player{ style: 'display:none;'}
  .modal-header
    %a.close{onclick: "close_video_popup();"} Close
    %h3#video_title Modal Header
  .modal-body
    %iframe#video_iframe{ name: 'testname', width: "100%", height: 300, frameborder: 1, scrolling: 'no', marginwidth: 0, marginheight: 0}
  -#.modal-footer
  -#  %a.close{'data-dismiss' => "modal"} Close


- if @autoplay_video && !mobile?
  :javascript
    initialize_video_popup('#{@autoplay_video.youtube_code}', '#{@autoplay_video.name}');
