%h1 Listing callouts

%table
  %tr
    %th Element
    %th Text
    %th
    %th
    %th

  - @callouts.each do |callout|
    %tr
      %td= callout.element_id
      %td= callout.text
      %td= link_to 'Show', callout
      %td= link_to 'Edit', edit_callout_path(callout)
      %td= link_to 'Destroy', callout, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Callout', new_callout_path
