- @page_title = t('redeem_prizes.title', name: current_user.name)

%h1= @page_title

%br/
%h4 #{t('home.student_progress')}:
= t('home.student_stats', trophy_count: current_user.trophy_count, trophy_max: Trophy::TROPHY_MAX)
%br/
%br/

- if current_user.prize_earned
  %h4= t('redeem_prizes.msg.earned')
  - if current_user.prize
    = render partial: 'shared/redeemed_prize', locals: { prize: current_user.prize }
  - else
    #{t('redeem_prizes.msg.choose')}
    %br/
    - PrizeProvider.all.each do |provider|
      - if Prize.where(:prize_provider_id => provider.id).count > 0
        %div{style:"min-width: 300px;float:left;"}
          %p
            = link_to image_tag(provider.image_name), prize_provider_claim_prize_path(provider.id, :type => 'student'), :confirm => t('redeem_prizes.confirm.msg', prize_name: t('redeem_prizes.providers.' + provider.description_token)) + '<br><br>' + t('redeem_prizes.confirm.msg_student')
          = link_to(t('redeem_prizes.providers.' + provider.description_token), provider.url)
  %div{style:"clear:left;"}
    %br/
    = raw t('redeem_prizes.student_finished', online_link: link_to(t('home.online'), 'http://code.org/learn2/beyond'), local_school_link: link_to(t('home.local_school'), 'http://code.org/learn2/local'))
- else
  %h4= t('redeem_prizes.msg.not_earned', num_trophies: Trophy::TROPHY_MAX)
  - script_level = current_user.next_untried_level(Script.twenty_hour_script)
  - if script_level
    #{t('home.student_left_off')} #{t('stage')} #{script_level.level.game_id} #{t('puzzle')} #{script_level.game_chapter}
    = form_tag(build_script_level_path(script_level), method: 'get', style: "display:inline;") do
      = submit_tag t('continue'), name: nil, class: 'btn btn-primary'

%br/
%br/
- if current_user.students.length > 0
  %hr/
  %h4 #{t('home.classroom')}:

  %p
    = link_to t('home.teacher_student_count', count: current_user.students.length), manage_followers_path
    = t('home.teacher_averages', trophy_average: ("%.1f" % current_user.average_student_trophies), trophy_max: Trophy::TROPHY_MAX)
    %br/
    %br/

  - if current_user.teacher_prize_earned
    %h4= t('redeem_prizes.msg.teacher.earned', num_trophies: Trophy::TROPHY_MAX)
    - if current_user.teacher_prize
      = render partial: 'shared/redeemed_prize', locals: { prize: current_user.teacher_prize }
    - else
      #{t('redeem_prizes.msg.choose')}
      %br/
      - PrizeProvider.all.each do |provider|
        - if TeacherPrize.where(:prize_provider_id => provider.id).count > 0
          %div{style:"min-width: 300px;float:left;"}
            %p
              = link_to image_tag(provider.image_name), prize_provider_claim_prize_path(provider.id, :type => 'teacher'), :confirm => t('redeem_prizes.confirm.msg', prize_name: t('redeem_prizes.providers.' + provider.description_token))
            = link_to(t('redeem_prizes.providers.' + provider.description_token), provider.url)
  - else
    %h4= t('redeem_prizes.msg.teacher.not_earned', num_trophies: Trophy::TROPHY_MAX)
  %div{style:"clear:left;"}
    %br/

  - if current_user.teacher_bonus_prize_earned
    %h4= t('redeem_prizes.msg.teacher.bonus.earned', num_trophies: Trophy::TROPHY_MAX)
    - if current_user.teacher_bonus_prize
      = render partial: 'shared/redeemed_prize', locals: { prize: current_user.teacher_bonus_prize }
    - else
      #{t('redeem_prizes.msg.choose')}
      %br/
      - PrizeProvider.all.each do |provider|
        - if TeacherBonusPrize.where(:prize_provider_id => provider.id).count > 0
          %div{style:"min-width: 300px;float:left;"}
            %p
              = link_to image_tag(provider.image_name), prize_provider_claim_prize_path(provider.id, :type => 'teacher_bonus'), :confirm => t('redeem_prizes.confirm.msg', prize_name: t('redeem_prizes.providers.' + provider.description_token))
            = link_to(t('redeem_prizes.providers.' + provider.description_token), provider.url)
  - else
    %h4= t('redeem_prizes.msg.teacher.bonus.not_earned', num_trophies: Trophy::TROPHY_MAX)
  %div{style:"clear:left;"}
    %br/
:javascript
  $(document).ready(function() {
    $('a[data-confirm]').click(function(ev) {
      var href = $(this).attr('href');

      if (!$('#dataConfirmModal').length) {
        $('body').append('<div id="dataConfirmModal" tabindex="-1" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">#{t('redeem_prizes.confirm.title')}</h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">#{t('redeem_prizes.confirm.no')}</button><a id="prize_confirm" class="btn btn-primary" id="dataConfirmOK">#{t('redeem_prizes.confirm.yes')}</a></div></div>');
      }
      $('#dataConfirmModal').find('.modal-body').html($(this).attr('data-confirm'));
      $('#dataConfirmOK').attr('href', href);
      $('#dataConfirmModal').modal({show:true});
      return false;
    });
  });
