<!DOCTYPE html>
%html
  %head
    %title Dashboard
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ style: 'padding  :0px;' }
    .navbar-static-top.header
      .container
        .navbar-header
          .row
            .span2
              = link_to(image_tag('logo.png'), root_path, style: "background-color:transparent;")

            .span8{ style: 'text-align:center;height:85px;position:relative;font-size: 150%;'}
              - if current_user && @script_level
                - script = @script || Script.first
                - progress = current_user.progress(script)
                - pct = (progress['max_levels'] > 0) ? (100 * progress['current_levels']/progress['max_levels']).to_i : 0

                %a{ href: script_user_stats_path(@script, current_user) }
                  Step
                  %span.header_status_bar
                    #{progress['current_levels']}
                  of #{progress['max_levels']}
                  %div.header_status_bar{ style: "text-align:left;padding-left:#{pct}px;padding-right:#{100-pct}px"}
                    =raw "&#x25B2;"
                  Trophies
                  %span.header_status_bar #{progress['current_trophies']}
                  of #{progress['max_trophies']}


            .span2{ style: 'text-align: right; padding-top: 0px;' }
              - if user_signed_in?
                .user_menu
                  = link_to raw("Hi #{h(current_user.username)} &#x25BC;"), '#', onclick: "$('.user_options').toggle();console.log('click');return false;"
                  %div{ style: 'position:relative;top:3px;'}
                    .user_options{style: 'display: none;color: black;position:absolute; right:0'}
                      = link_to "Settings", edit_user_registration_path
                      %br/
                      = link_to "Log out", destroy_user_session_path, method: :delete
              - else
                = link_to "Sign up", new_user_registration_path
                |
                = link_to "Sign in", new_user_session_path

    - if @full_width
      .full_container
        = yield
    - else
      .container
        - if notice
          %p#notice= notice
        - if alert
          %p#alert= alert

        .row
          = yield
