<!DOCTYPE html>
%html
  %head
    %title Dashboard
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row.header
        .span4
          = link_to(image_tag('logo.png'), root_path, style: "background-color:transparent;")

        .span4{ style: 'text-align:center'}
          - if @script && current_user
            - progress = current_user.progress(@script)
            %a{ href: script_user_stats_path(@script, current_user) }
              .progress-outer
                .progress-inner{ style: "width:#{(100 * progress['current']/progress['max']).to_i}%" }

        .span4{ style: 'text-align: right; padding-top: 10px;' }
          = render 'shared/user_menu'

      - if notice
        %p#notice= notice
      - if alert
        %p#alert= alert

      .row
        = yield
