<!DOCTYPE html>
%html
  %head
    %title Dashboard
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      .row.header
        .span4
          = link_to(image_tag('logo.png'), root_path, style: "background-color:transparent;")

        .span4{ style: 'text-align:center'}
          - if @script && current_user
            - progress = current_user.progress(@script)
            = link_to "#{progress['current']}/#{progress['max']}", script_user_stats_path(@script, current_user)

        .span4{ style: 'text-align: right; padding-top: 10px;' }

          - if user_signed_in?
            %div
              .user_menu
                = link_to raw("#{h(current_user.username)} &#x25BC;"), '#', onclick: "$('.user_options').toggle();console.log('click');return false;"
          - else
            = link_to "Sign up", new_user_registration_path
            |
            = link_to "Sign in", new_user_session_path
      = render 'shared/user_menu'

      - if notice
        %p#notice= notice
      - if alert
        %p#alert= alert

      .row
        = yield
