<!DOCTYPE html>
%html
  %head
    %title= @page_title || 'Code.org'
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ style: 'padding  :0px;' }
    .navbar-static-top.header
      .container
        .navbar-header
          .row
            .span2
              = link_to(image_tag('logo.png'), root_path, style: "background-color:transparent;")

            .span8{ style: 'text-align:center;height:85px;position:relative;font-size: 150%;'}
              - if current_user && @script_level
                - script = @script || Script.first
                - progress = current_user.progress(script)
                - count = @game.levels.count
                - game_levels = current_user.levels_from_script(script, @game.id);

                %a{ href: user_stats_path(current_user) }
                  %div.header_text
                    Stage #{@game.id}: step 
                - game_levels.each do |sl|
                  %a{href:build_script_level_path(sl)}
                  - if sl.level_id == @script_level.level_id
                    %div.level_current_header{class:"level_highlight"}
                      #{@script_level.game_chapter}
                  - elsif (sl.game_chapter == count)
                    %a.level_count{class:"level_highlight", href:build_script_level_path(sl)}
                      #{count}
                  - else
                    - passed = sl.user_level && (sl.user_level.best_result >= Activity::MINIMUM_PASS_RESULT)
                    %a.other_level{class:passed ? "level_aced" : "level_undone", href:build_script_level_path(sl)}
                %a{ href: user_stats_path(current_user) }
                  %div.header_text
                    Trophies 
                  %div.header_status_bar
                    #{progress['current_trophies']} 
                  %div.header_text
                    of #{progress['max_trophies']}

            .span2{ style: 'text-align: right; padding-top: 0px;' }
              - if user_signed_in?
                .user_menu
                  = link_to raw("Hi #{h(current_user.username)} &#x25BC;"), '#', onclick: "$('.user_options').toggle();console.log('click');return false;"
                  %div{ style: 'position:relative;top:3px;'}
                    .user_options{style: 'display: none;color: black;position:absolute; right:0'}
                      = link_to "Settings", edit_user_registration_path
                      %br/
                      = link_to "Log out", destroy_user_session_path, method: :delete
              - else
                = link_to "Sign up", new_user_registration_path
                |
                = link_to "Sign in", new_user_session_path

    - if @full_width
      .full_container
        = yield
    - else
      .container
        - if notice
          %p#notice= notice
        - if alert
          %p#alert= alert

        .row
          = yield
