<!DOCTYPE html>
<!--[if lte IE 8]>
<script type="text/javascript">
window.location = http://code.org/learn2/ie8;
</script>
<![endif]-->
%html
  %head
    %title= @page_title ? "#{t(:appname)} - #{@page_title}" : t(:appname)
    = stylesheet_link_tag    "application", media: "all"
    = stylesheet_link_tag    "//cloud.typography.com/7425452/678642/css/fonts.css", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ style: 'padding  :0px;' }
    - if !phone? || !@script_level
      = render partial: 'layouts/header'
    - if @full_width
      .full_container
        = yield
    - else
      .container.main
        %div{ style: 'margin: 10px;'}
          - if notice
            %p#notice= notice
          - if alert
            %p#alert= alert

          = yield
    = render partial: 'layouts/footer'

    - if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-37745279-3', 'code.org');
        ga('send', 'pageview');
