<!DOCTYPE html>
%html
  %head
    %title Dashboard
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %table{ width: '100%' }
      %tr.header
        %td{ width: '33%'}
          = link_to(image_tag('logo.png'), root_path, style: "background-color:transparent;")

        %td{ width: '33%', style: 'text-align:center' }
          - if @script && current_user
            - progress = current_user.progress(@script)
            = link_to "#{progress['current']}/#{progress['max']}", script_user_stats_path(@script, current_user)

        %td{ width: '33%', style: 'text-align:right'}
          - if user_signed_in?
            %strong
              = link_to current_user.username, edit_user_registration_path
            %br/
            = link_to "Logout", destroy_user_session_path, method: :delete
          - else
            = link_to "Sign up", new_user_registration_path
            |
            = link_to "Sign in", new_user_session_path
      %tr
        %td{ colspan: 3 }
          - if notice
            %p#notice= notice
          - if alert
            %p#alert= alert

          = yield
